<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="title"
      content="အထွေထွေ သပိတ်မှောက်ရန် လုပ်ငန်းများ | Businesses to Boycott 2021"
    />
    <meta
      name="description"
      content="အထွေထွေ သပိတ်မှောက်ရန် လုပ်ငန်းများ စာရင်း | Businesse list for boycotting"
    />
    <meta
      name="”keywords”"
      content="myanmar, military businesses, burma, burmese military businesses, burmese businesses, general boycott, 2021 myanmar protests"
    />

    <title>Businesses to Boycott</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="manifest" href="/manifest.json">
    <style>
      html,
      body {
        padding: 1rem;
      }
      .center {
        text-align: center;
      }
      .title-mm {
        line-height: 4rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Register service worker -->
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
      }
    </script>
  </head>
  <body>
    <div id="app" class="container" style="margin-top: 60px; max-width: 720px">
      <h1 class="title is-2 center title-mm">
        အထွေထွေ သပိတ်မှောက်ရန် လုပ်ငန်းများ
      </h1>
      <h1 class="title is-4 center">Businesses to Boycott 2021</h1>
      <!-- Industry -->
      <input
        class="input"
        type="text"
        placeholder="Search"
        v-model="searchString"
      />
      <div v-for="(items, industry) in businesses">
        <h4 class="pt-5 pb-4 subtitle is-3">{{ industry }}</h4>
        <div :key="item.id" v-for="item in getSortedItems(items)" class="card mb-2">
          <header>
            <p class="card-header-title subtitle is-6">{{ item.product }}</p>
          </header>
          <div
            class="card-content px-4 pb-4 pt-1"
            v-if="item.googleReviewUrl">
              <a
                v-if="item.googleReviewUrl"
                :href="item.googleReviewUrl"
                class="has-text-weight-semibold"
                rel="noopener noreferrer nofollow"
                target="_blank">
                Google Reviews
              </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="businesses.js"></script>
  <script>
    function groupBy(objectArray, property) {
      return objectArray.reduce(function (acc, obj) {
        let key = obj[property];
        if (!acc[key]) {
          acc[key] = [];
        }
        acc[key].push(obj);
        return acc;
      }, {});
    }

    Promise.all(businessJsonsPromises).then((values) => {
      var businesses = Object.freeze({
        Cigarettes: values[0],
        "Entertainment/Tourism": values[1],
        "Food and drink": values[2],
        Media: values[3],
        Transport: values[4],
        Retail: values[5],
        "Health Servcies": values[6],
        "Banking and finance": values[7],
        Communications: values[8],
        Construction: values[9],
        Port: values[10],
        Manufacturing: values[11],
        "Trading companies": values[12],
        "Health and Beauty Products": values[13],
        "Industrial Estates/Offices": values[14],
        "Education": values[15]
      });

      new Vue({
        el: "#app",
        data: {
          searchString: "",
          businesses: businesses,
        },
        methods: {
           getSortedItems(items) {
            return items && Array.from(items).sort((a, b) => a.product.localeCompare(b.product)); // alphabetically 
          },
        },  
        watch: {
          searchString: function () {
            var obj = {};
            Object.entries(businesses)
              .map(([key, arr]) => {
                return arr.filter((el) => {
                  var regex = new RegExp(this.searchString, "gi");
                  return regex.test(el.product);
                });
              })
              .filter((el) => el.length > 0)
              .forEach((el) => {
                if (obj[el[0].industry]) {
                  obj[el[0].industry].push(...el);
                } else {
                  obj[el[0].industry] = [];
                  obj[el[0].industry].push(...el);
                }
              });
            this.businesses = obj;
          },
        },
      });
    });
  </script>
</html>
