<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="title"
      content="မြန်မာစစ်တပ်ပိုင် စီးပွားရေးလုပ်ငန်းများ | Myanmar Military Businesses"
    />
    <meta
      name="description"
      content="စစ်တပ်ပိုင်စီးပွားရေးလုပ်ငန်းများ စာရင်း | Myanmar Military owned businesses"
    />
    <meta
      name="”keywords”"
      content="myanmar, military businesses, burma, burmese military businesses, burmese businesses"
    />

    <title>Myanmar Military Businesses</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <style>
      html,
      body {
        padding: 1rem;
      }
      .center {
        text-align: center;
      }
      .title-mm {
        line-height: 4rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  </head>
  <body>
    <div id="app" class="container" style="margin-top: 60px; max-width: 720px">
      <h1 class="title is-2 center title-mm">
        မြန်မာစစ်တပ်ပိုင် စီးပွားရေးလုပ်ငန်းများ
      </h1>
      <h1 class="title is-4 center">Myanmar Military Owned Businesses</h1>
      <!-- Industry -->
      <input
        class="input"
        type="text"
        placeholder="Search"
        v-model="searchString"
      />
      <div v-for="(items, industry) in businesses">
        <h4 class="pt-5 pb-4 subtitle is-3">{{ industry }}</h4>
        <div :key="item.id" v-for="item in items" class="card mb-2">
          <header>
            <p class="card-header-title subtitle is-6">{{ item.product }}</p>
          </header>
        </div>
      </div>
    </div>
  </body>
  <script src="businesses.js"></script>
  <script>
    function addId() {
      for (const industry in businesses) {
        businesses[industry] = businesses[industry].map(business => ({
          id: uuidv4(),
          ...business,
        }));
      }
      Object.freeze(businesses);
    }

    function groupBy(objectArray, property) {
      return objectArray.reduce(function (acc, obj) {
        let key = obj[property];
        if (!acc[key]) {
          acc[key] = [];
        }
        acc[key].push(obj);
        return acc;
      }, {});
    }

    new Vue({
      el: '#app',
      data: {
        searchString: '',
        businesses: businesses,
      },
      beforeCreate() {
        addId();
      },
      watch: {
        searchString: function () {
          var obj = {};
          Object.entries(businesses)
            .map(([key, arr]) => {
              return arr.filter(el => {
                var regex = new RegExp(this.searchString, 'gi');
                return regex.test(el.product);
              });
            })
            .filter(el => el.length > 0)
            .forEach(el => {
              if (obj[el[0].industry]) {
                obj[el[0].industry].push(...el);
              } else {
                obj[el[0].industry] = [];
                obj[el[0].industry].push(...el);
              }
            });
          this.businesses = obj;
        },
      },
    });
  </script>
</html>
